Project Description


This project we hope to analyze data from Indian start up from 2018 to 2021. Our Goal is to gain understanding into Indian startup ecosystem and suggest the optimal course of action.

Business Understanding


Hypothesis
Null hypothesis: 
There is no relationship between the number of founders in a company compared to the amount of funding they receive

Alternate hypothesis:
 Companies with more than one founder receive more funding than those without

Question
    1. How much amount is needed for initial start-up?
    2. Which sector attracted the largest funding
    3. Which sector received the lowest amount of funding
    4. Who are the top 10 investors
    5. At what stage do startups get more funding from investors?
    6. What strategies does the startup have in place to connect with local artisans to build a global customer base?

In [1501]:
%pip install matplotlib 
%pip install seaborn
%pip3 install wheel
%pip install pyodbc  
%pip install python-dotenv 
%pip install pandas

Requirement already satisfied: matplotlib in ./venv/lib/python3.6/site-packages (3.3.4)
Requirement already satisfied: kiwisolver>=1.0.1 in ./venv/lib/python3.6/site-packages (from matplotlib) (1.3.1)
Requirement already satisfied: numpy>=1.15 in ./venv/lib/python3.6/site-packages (from matplotlib) (1.19.5)
Requirement already satisfied: pillow>=6.2.0 in ./venv/lib/python3.6/site-packages (from matplotlib) (8.4.0)
Requirement already satisfied: python-dateutil>=2.1 in ./venv/lib/python3.6/site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: cycler>=0.10 in ./venv/lib/python3.6/site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in ./venv/lib/python3.6/site-packages (from matplotlib) (3.1.0)
Requirement already satisfied: six>=1.5 in ./venv/lib/python3.6/site-packages (from python-dateutil>=2.1->matplotlib) (1.16.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: seaborn in ./venv/lib/python3.6/site-packages (0.11.2)
Requirement already satisfied: matplotlib>=2.2 in ./venv/lib/python3.6/site-packages (from seaborn) (3.3.4)
Requirement already satisfied: numpy>=1.15 in ./venv/lib/python3.6/site-packages (from seaborn) (1.19.5)
Requirement already satisfied: scipy>=1.0 in ./venv/lib/python3.6/site-packages (from seaborn) (1.5.4)
Requirement already satisfied: pandas>=0.23 in ./venv/lib/python3.6/site-packages (from seaborn) (1.1.5)
Requirement already satisfied: python-dateutil>=2.1 in ./venv/lib/python3.6/site-packages (from matplotlib>=2.2->seaborn) (2.8.2)
Requirement already satisfied: pillow>=6.2.0 in ./venv/lib/python3.6/site-packages (from matplotlib>=2.2->seaborn) (8.4.0)
Requirement already satisfied: cycler>=0.10 in ./venv/lib/python3.6/site-packages (from matplotlib>=2.2->seaborn) (0.11.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in ./venv/lib/python3.6/site-packages (from matplotlib>=2.2->seaborn) (3.1.0)
Requirement already satisfied: kiwisolver>=1.0.1 in ./venv/lib/python3.6/site-packages (from matplotlib>=2.2->seaborn) (1.3.1)
Requirement already satisfied: pytz>=2017.2 in ./venv/lib/python3.6/site-packages (from pandas>=0.23->seaborn) (2023.3)
Requirement already satisfied: six>=1.5 in ./venv/lib/python3.6/site-packages (from python-dateutil>=2.1->matplotlib>=2.2->seaborn) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

UsageError: Line magic function `%pip3` not found.

In [1502]:
import os
import pyodbc #just installed with pip
from dotenv import dotenv_values #import the dotenv_values function from the dotenv package
import pandas as pd
import warnings 
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import re
# import wget
from forex_python.converter import CurrencyRates


warnings.filterwarnings('ignore')

In [1503]:
# Load environment variables from .env file into a dictionary
environment_variables = dotenv_values('.env')


# Get the values for the credentials you set in the '.env' file
database = environment_variables.get("DATABASE")
server = environment_variables.get("SERVER")
username = environment_variables.get("USERNAME")
password = environment_variables.get("PASSWORD")
# driver = environment_variables.get("DRIVER")


connection_string = "DRIVER={ODBC Driver 17 for SQL Server};SERVER={server};DATABASE={database};UID={username};PWD={password}"

In [1504]:
# connection_string = "DRIVER={ODBC Driver 17 for SQL Server};SERVER={dap-projects-database.database.windows.net};DATABASE={dapDB};UID={dataAnalyst_LP1};PWD={G7x@9kR$2x}"

In [1505]:
# Use the connect method of the pyodbc library and pass in the connection string.
# This will connect to the server and might take a few seconds to be complete. 
# Check your internet connection if it takes more time than necessary

connection = pyodbc.connect(connection_string)
#connection = pyodbc.connect(connection_string)

In [1506]:
query2020 = "Select * from dbo.LP1_startup_funding2020"
query2021 = "Select * from dbo.LP1_startup_funding2021"
data2020 = pd.read_sql(query2020, connection)
data2021 = pd.read_sql(query2021, connection)

In [1507]:
print(os.listdir())

['venv', 'lp1.ipynb', 'README.md', 'startup_funding2018.csv', '.env', '.gitignore', 'LICENSE', '.git', 'startup_funding2019.csv']

In [1508]:
data2020.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,column10
0,Aqgromalin,2019.0,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,None,None
1,Krayonnz,2019.0,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed,None
2,PadCare Labs,2018.0,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,NaN,Pre-seed,None
3,NCOME,2020.0,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",400000.0,None,None
4,Gramophone,2016.0,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge",340000.0,None,None

In [1509]:
data2021.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
0,Unbox Robotics,2019.0,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First","$1,200,000",Pre-series A
1,upGrad,2015.0,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management","$120,000,000",None
2,Lead School,2012.0,Mumbai,EdTech,LEAD School offers technology based school tra...,"Smita Deorah, Sumeet Mehta","GSV Ventures, Westbridge Capital","$30,000,000",Series D
3,Bizongo,2015.0,Mumbai,B2B E-commerce,Bizongo is a business-to-business online marke...,"Aniket Deb, Ankit Tomar, Sachin Agrawal","CDC Group, IDG Capital","$51,000,000",Series C
4,FypMoney,2021.0,Gurugram,FinTech,"FypMoney is Digital NEO Bank for Teenagers, em...",Kapil Banwari,"Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal","$2,000,000",Seed

In [1510]:
data2019 = pd.read_csv('startup_funding2019.csv')
data2019.head()

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
0,Bombay Shaving,NaN,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,"$6,300,000",NaN
1,Ruangguru,2014.0,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,"$150,000,000",Series C
2,Eduisfun,NaN,Mumbai,Edtech,It aims to make learning fun via games.,Jatin Solanki,"Deepak Parekh, Amitabh Bachchan, Piyush Pandey","$28,000,000",Fresh funding
3,HomeLane,2014.0,Chennai,Interior design,Provides interior designing solutions,"Srikanth Iyer, Rama Harinath","Evolvence India Fund (EIF), Pidilite Group, FJ...","$30,000,000",Series D
4,Nu Genes,2004.0,Telangana,AgriTech,"It is a seed company engaged in production, pr...",Narayana Reddy Punyala,Innovation in Food and Agriculture (IFA),"$6,000,000",NaN

In [1511]:
data2018 = pd.read_csv('startup_funding2018.csv')
data2018.head()

,Company Name,Industry,Round/Series,Amount,Location,About Company,Unnamed: 6
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f...",NaN
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...,NaN
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"₹65,000,000","Gurgaon, Haryana, India",Leading Online Loans Marketplace in India,NaN
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...,NaN
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...,NaN

## DATA 2018 CLEANING

In [1512]:
data2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 526 entries, 0 to 525
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company Name   526 non-null    object
 1   Industry       526 non-null    object
 2   Round/Series   526 non-null    object
 3   Amount         526 non-null    object
 4   Location       526 non-null    object
 5   About Company  526 non-null    object
 6   Unnamed: 6     1 non-null      object
dtypes: object(7)
memory usage: 28.9+ KB

In [1513]:
data2018.isnull().sum() #calculate the number of missing values (null or NaN values) in each column of a DataFrame.

Company Name       0
Industry           0
Round/Series       0
Amount             0
Location           0
About Company      0
Unnamed: 6       525
dtype: int64

In [1514]:
missing_value = ['','N/a','NAN','na']
data2018 = pd.read_csv('startup_funding2018.csv', na_values=missing_value)
data2018.isnull().sum()

Company Name       0
Industry           0
Round/Series       0
Amount             0
Location           0
About Company      0
Unnamed: 6       525
dtype: int64

In [1515]:
data2018.shape

(526, 7)

In [1516]:

data2018.columns

Index(['Company Name', 'Industry', 'Round/Series', 'Amount', 'Location',
       'About Company', 'Unnamed: 6'],
      dtype='object')

In [1517]:
data2018['Unnamed: 6']

0                             NaN
1                             NaN
2                             NaN
3                             NaN
4                             NaN
5                             NaN
6                             NaN
7                             NaN
8                             NaN
9                             NaN
10                            NaN
11                            NaN
12                            NaN
13                            NaN
14                            NaN
15                            NaN
16                            NaN
17                            NaN
18                            NaN
19                            NaN
20                            NaN
21                            NaN
22                            NaN
23                            NaN
24                            NaN
25                            NaN
26                            NaN
27                            NaN
28                            NaN
29                            NaN
30                            NaN
31                            NaN
32                            NaN
33                            NaN
34                            NaN
35                            NaN
36                            NaN
37                            NaN
38                            NaN
39                            NaN
40                            NaN
41                            NaN
42                            NaN
43                            NaN
44                            NaN
45                            NaN
46                            NaN
47                            NaN
48                            NaN
49                            NaN
50                            NaN
51                            NaN
52                            NaN
53                            NaN
54                            NaN
55                            NaN
56                            NaN
57                            NaN
58                            NaN
59                            NaN
60                            NaN
61                            NaN
62                            NaN
63                            NaN
64                            NaN
65                            NaN
66                            NaN
67                            NaN
68                            NaN
69                            NaN
70                            NaN
71                            NaN
72                            NaN
73                            NaN
74                            NaN
75                            NaN
76                            NaN
77                            NaN
78                            NaN
79                            NaN
80                            NaN
81      fueled by Design thinking
82                            NaN
83                            NaN
84                            NaN
85                            NaN
86                            NaN
87                            NaN
88                            NaN
89                            NaN
90                            NaN
91                            NaN
92                            NaN
93                            NaN
94                            NaN
95                            NaN
96                            NaN
97                            NaN
98                            NaN
99                            NaN
100                           NaN
101                           NaN
102                           NaN
103                           NaN
104                           NaN
105                           NaN
106                           NaN
107                           NaN
108                           NaN
109                           NaN
110                           NaN
111                           NaN
112                           NaN
113                           NaN
114                           NaN
115                           NaN
116                           NaN
117                           NaN
118                           NaN
119                           NaN
120                           NaN
121                           NaN
122                           NaN
123                           NaN
124                           NaN
125                           NaN
126                           NaN
127                           NaN
128                           NaN
129                           NaN
130                           NaN
131                           NaN
132                           NaN
133                           NaN
134                           NaN
135                           NaN
136                           NaN
137                           NaN
138                           NaN
139                           NaN
140                           NaN
141                           NaN
142                           NaN
143                           NaN
144                           NaN
145                           NaN
146                           NaN
147                           NaN
148                           NaN
149                           NaN
150                           NaN
151                           NaN
152                           NaN
153                           NaN
154                           NaN
155                           NaN
156                           NaN
157                           NaN
158                           NaN
159                           NaN
160                           NaN
161                           NaN
162                           NaN
163                           NaN
164                           NaN
165                           NaN
166                           NaN
167                           NaN
168                           NaN
169                           NaN
170                           NaN
171                           NaN
172                           NaN
173                           NaN
174                           NaN
175                           NaN
176                           NaN
177                           NaN
178                           NaN
179                           NaN
180                           NaN
181                           NaN
182                           NaN
183                           NaN
184                           NaN
185                           NaN
186                           NaN
187                           NaN
188                           NaN
189                           NaN
190                           NaN
191                           NaN
192                           NaN
193                           NaN
194                           NaN
195                           NaN
196                           NaN
197                           NaN
198                           NaN
199                           NaN
200                           NaN
201                           NaN
202                           NaN
203                           NaN
204                           NaN
205                           NaN
206                           NaN
207                           NaN
208                           NaN
209                           NaN
210                           NaN
211                           NaN
212                           NaN
213                           NaN
214                           NaN
215                           NaN
216                           NaN
217                           NaN
218                           NaN
219                           NaN
220                           NaN
221                           NaN
222                           NaN
223                           NaN
224                           NaN
225                           NaN
226                           NaN
227                           NaN
228                           NaN
229                           NaN
230                           NaN
231                           NaN
232                           NaN
233                           NaN
234                           NaN
235                           NaN
236                           NaN
237                           NaN
238                           NaN
239                           NaN
240                           NaN
241                           NaN
242                           NaN
243                           NaN
244                           NaN
245                           NaN
246                           NaN
247                           NaN
248                           NaN
249                           NaN
250                           NaN
251                           NaN
252                           NaN
253                           NaN
254                           NaN
255                           NaN
256                           NaN
257                           NaN
258                           NaN
259                           NaN
260                           NaN
261                           NaN
262                           NaN
263                           NaN
264                           NaN
265                           NaN
266                           NaN
267                           NaN
268                           NaN
269                           NaN
270                           NaN
271                           NaN
272                           NaN
273                           NaN
274                           NaN
275                           NaN
276                           NaN
277                           NaN
278                           NaN
279                           NaN
280                           NaN
281                           NaN
282                           NaN
283                           NaN
284                           NaN
285                           NaN
286                           NaN
287                           NaN
288                           NaN
289                           NaN
290                           NaN
291                           NaN
292                           NaN
293                           NaN
294                           NaN
295                           NaN
296                           NaN
297                           NaN
298                           NaN
299                           NaN
300                           NaN
301                           NaN
302                           NaN
303                           NaN
304                           NaN
305                           NaN
306                           NaN
307                           NaN
308                           NaN
309                           NaN
310                           NaN
311                           NaN
312                           NaN
313                           NaN
314                           NaN
315                           NaN
316                           NaN
317                           NaN
318                           NaN
319                           NaN
320                           NaN
321                           NaN
322                           NaN
323                           NaN
324                           NaN
325                           NaN
326                           NaN
327                           NaN
328                           NaN
329                           NaN
330                           NaN
331                           NaN
332                           NaN
333                           NaN
334                           NaN
335                           NaN
336                           NaN
337                           NaN
338                           NaN
339                           NaN
340                           NaN
341                           NaN
342                           NaN
343                           NaN
344                           NaN
345                           NaN
346                           NaN
347                           NaN
348                           NaN
349                           NaN
350                           NaN
351                           NaN
352                           NaN
353                           NaN
354                           NaN
355                           NaN
356                           NaN
357                           NaN
358                           NaN
359                           NaN
360                           NaN
361                           NaN
362                           NaN
363                           NaN
364                           NaN
365                           NaN
366                           NaN
367                           NaN
368                           NaN
369                           NaN
370                           NaN
371                           NaN
372                           NaN
373                           NaN
374                           NaN
375                           NaN
376                           NaN
377                           NaN
378                           NaN
379                           NaN
380                           NaN
381                           NaN
382                           NaN
383                           NaN
384                           NaN
385                           NaN
386                           NaN
387                           NaN
388                           NaN
389                           NaN
390                           NaN
391                           NaN
392                           NaN
393                           NaN
394                           NaN
395                           NaN
396                           NaN
397                           NaN
398                           NaN
399                           NaN
400                           NaN
401                           NaN
402                           NaN
403                           NaN
404                           NaN
405                           NaN
406                           NaN
407                           NaN
408                           NaN
409                           NaN
410                           NaN
411                           NaN
412                           NaN
413                           NaN
414                           NaN
415                           NaN
416                           NaN
417                           NaN
418                           NaN
419                           NaN
420                           NaN
421                           NaN
422                           NaN
423                           NaN
424                           NaN
425                           NaN
426                           NaN
427                           NaN
428                           NaN
429                           NaN
430                           NaN
431                           NaN
432                           NaN
433                           NaN
434                           NaN
435                           NaN
436                           NaN
437                           NaN
438                           NaN
439                           NaN
440                           NaN
441                           NaN
442                           NaN
443                           NaN
444                           NaN
445                           NaN
446                           NaN
447                           NaN
448                           NaN
449                           NaN
450                           NaN
451                           NaN
452                           NaN
453                           NaN
454                           NaN
455                           NaN
456                           NaN
457                           NaN
458                           NaN
459                           NaN
460                           NaN
461                           NaN
462                           NaN
463                           NaN
464                           NaN
465                           NaN
466                           NaN
467                           NaN
468                           NaN
469                           NaN
470                           NaN
471                           NaN
472                           NaN
473                           NaN
474                           NaN
475                           NaN
476                           NaN
477                           NaN
478                           NaN
479                           NaN
480                           NaN
481                           NaN
482                           NaN
483                           NaN
484                           NaN
485                           NaN
486                           NaN
487                           NaN
488                           NaN
489                           NaN
490                           NaN
491                           NaN
492                           NaN
493                           NaN
494                           NaN
495                           NaN
496                           NaN
497                           NaN
498                           NaN
499                           NaN
500                           NaN
501                           NaN
502                           NaN
503                           NaN
504                           NaN
505                           NaN
506                           NaN
507                           NaN
508                           NaN
509                           NaN
510                           NaN
511                           NaN
512                           NaN
513                           NaN
514                           NaN
515                           NaN
516                           NaN
517                           NaN
518                           NaN
519                           NaN
520                           NaN
521                           NaN
522                           NaN
523                           NaN
524                           NaN
525                           NaN
Name: Unnamed: 6, dtype: object

In [1518]:
data2018 = data2018.drop('Unnamed: 6', axis=1)
data2018.columns

Index(['Company Name', 'Industry', 'Round/Series', 'Amount', 'Location',
       'About Company'],
      dtype='object')

In [1519]:
data2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 526 entries, 0 to 525
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company Name   526 non-null    object
 1   Industry       526 non-null    object
 2   Round/Series   526 non-null    object
 3   Amount         526 non-null    object
 4   Location       526 non-null    object
 5   About Company  526 non-null    object
dtypes: object(6)
memory usage: 24.8+ KB

In [1520]:
data2018.duplicated().sum() #checking if there are duplicates

1

In [1521]:
data2018.loc[data2018.duplicated(keep=False ), :]#displaying the duplicated row

,Company Name,Industry,Round/Series,Amount,Location,About Company
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."
348,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."

In [1522]:
data2018 = data2018.drop_duplicates() #Droping duplicate rows
data2018.shape

(525, 6)

*** DATA TYPE ISSUES ***

In [1523]:
data2018.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 525 entries, 0 to 525
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company Name   525 non-null    object
 1   Industry       525 non-null    object
 2   Round/Series   525 non-null    object
 3   Amount         525 non-null    object
 4   Location       525 non-null    object
 5   About Company  525 non-null    object
dtypes: object(6)
memory usage: 28.7+ KB

In [1524]:
data2018['Amount'].head()

0         250000
1    ₹40,000,000
2    ₹65,000,000
3        2000000
4              —
Name: Amount, dtype: object

In [1525]:
# Cleaning the Amounts column
data2018['Amount'] = data2018['Amount'].apply(str)
data2018['Amount'].replace(",", "", inplace = True, regex=True)
data2018['Amount'].replace("—", 0, inplace = True, regex=True)
data2018['Amount'].replace("$", "", inplace = True, regex=True)

In [1526]:
data2018['Amount']

0            250000
1         ₹40000000
2         ₹65000000
3           2000000
4                 0
5           1600000
6         ₹16000000
7         ₹50000000
8                 0
9                 0
10                0
11                0
12                0
13                0
14                0
15       ₹100000000
16           150000
17          1100000
18                0
19          ₹500000
20          6000000
21           650000
22        ₹35000000
23        ₹64000000
24                0
25                0
26          2000000
27          2000000
28          2000000
29                0
30        ₹20000000
31          1000000
32                0
33           650000
34          1000000
35          5000000
36          4000000
37        ₹30000000
38          1000000
39          2800000
40                0
41           150000
42        ₹40000000
43          1000000
44          1700000
45                0
46          1300000
47          2000000
48                0
49         ₹5000000
50        ₹20000000
51        ₹40000000
52        ₹20000000
53          1000000
54        ₹12500000
55        ₹15000000
56           500000
57          5000000
58       ₹104000000
59        ₹45000000
60         13400000
61                0
62           500000
63                0
64        ₹25000000
65                0
66        ₹26400000
67                0
68                0
69         ₹8000000
70           ₹60000
71          4000000
72          9000000
73                0
74           100000
75            20000
76                0
77          1000000
78                0
79          4000000
80           250000
81                0
82           120000
83        ₹34000000
84                0
85       ₹342000000
86          $143145
87                0
88       ₹600000000
89                0
90       $742000000
91      ₹1000000000
92      ₹2000000000
93         $3980000
94      ₹2000000000
95           $10000
96                0
97      ₹1000000000
98          ₹100000
99       ₹250000000
100     ₹2000000000
101     $1000000000
102        $7000000
103               0
104       $35000000
105      ₹550000000
106       $28500000
107       ₹30000000
108        $2000000
109      ₹240000000
110               0
111               0
112               0
113      ₹120000000
114        $2400000
115       $30000000
116     ₹2500000000
117       $23000000
118               0
119         $150000
120               0
121               0
122       $11000000
123       ₹44000000
124        $3240000
125               0
126       ₹60000000
127     ₹2500000000
128               0
129               0
130      $540000000
131      ₹650000000
132     ₹1600000000
133               0
134         $900000
135       $10000000
136               0
137               0
138        $1500000
139               0
140       ₹50000000
141       ₹70000000
142               0
143        $1000000
144        $5000000
145       ₹16000000
146       $14000000
147      ₹102500000
148      $100000000
149      ₹550000000
150               0
151       ₹20000000
152        $2000000
153               0
154        ₹1200000
155      ₹250000000
156     ₹5200000000
157               0
158               0
159         $800000
160        $1041000
161         $100000
162         $100000
163               0
164         ₹100000
165               0
166          $15000
167          500000
168         1400000
169         5000000
170         1200000
171       ₹50000000
172               0
173         1000000
174               0
175         2200000
176          500000
177      ₹100000000
178         2000000
179         1800000
180          500000
181               0
182          150000
183         3600000
184          500000
185        ₹9500000
186               0
187          300000
188          500000
189         6830000
190         1400000
191          200000
192         2000000
193      ₹150000000
194               0
195         1000000
196         4300000
197               0
198               0
199               0
200          300000
201               0
202          364846
203         4000000
204          500000
205          400000
206               0
207         1500000
208               0
209          120000
210        ₹7000000
211        ₹1400000
212               0
213          500000
214               0
215       ₹50000000
216               0
217               0
218          500000
219         1000000
220       ₹10000000
221       ₹22500000
222        ₹5000000
223        13200000
224               0
225               0
226               0
227          500000
228         1000000
229               0
230           50000
231       ₹50000000
232          200000
233      ₹140200000
234         3000000
235          400000
236         1100000
237          500000
238         1250000
239          180000
240       ₹30000000
241       ₹19200000
242      ₹103000000
243               0
244       ₹40000000
245         1000000
246         1500000
247         2000000
248               0
249         4200000
250          175000
251       ₹35000000
252               0
253      ₹100000000
254         1300000
255               0
256         1450000
257               0
258         ₹200000
259         1000000
260         4500000
261         1000000
262          500000
263          600000
264          250000
265         2000000
266               0
267         4500000
268       ₹16600000
269       ₹12000000
270         1000000
271               0
272        15000000
273       ₹20000000
274          300000
275           50000
276       ₹30000000
277               0
278               0
279               0
280               0
281               0
282               0
283       ₹33000000
284          125000
285         4000000
286         1000000
287               0
288          130000
289          300000
290               0
291         1000000
292         2000000
293               0
294          250000
295       ₹34900000
296               0
297               0
298       ₹72000000
299       ₹50000000
300               0
301               0
302          120000
303      ₹120000000
304        17200000
305          600000
306               0
307               0
308       ₹35000000
309       ₹32000000
310          100000
311         1000000
312      ₹250000000
313         3500000
314               0
315      ₹135000000
316               0
317          250000
318         1100000
319         1000000
320               0
321         3000000
322               0
323               0
324               0
325         1500000
326         1600000
327          200000
328        12000000
329       ₹15000000
330       ₹20000000
331               0
332         1000000
333       ₹10000000
334      ₹135000000
335         3000000
336       ₹50000000
337       ₹20000000
338               0
339               0
340         4200000
341       ₹64000000
342       ₹50000000
343               0
344               0
345               0
346               0
347               0
349       $10000000
350       ₹40000000
351       $40000000
352               0
353        $1100000
354       $50000000
355        $1500000
356     ₹1540000000
357               0
358        $3000000
359       ₹45000000
360      $100000000
361        $1500000
362        $6000000
363      ₹140000000
364       ₹60000000
365        $3000000
366               0
367         $100000
368        ₹5000000
369       $41900000
370       $11000000
371               0
372      $100000000
373     ₹1410000000
374               0
375        $3530000
376       ₹72000000
377         $200000
378        $3300000
379      ₹240000000
380        $1000000
381               0
382      ₹580000000
383               0
384        $2000000
385         $100000
386        $6000000
387       ₹36000000
388      ₹340000000
389      $210000000
390       ₹35000000
391       ₹70000000
392       $11000000
393               0
394       ₹50000000
395       ₹70000000
396        $5000000
397       $37680000
398               0
399       $50000000
400        $1000000
401         $250000
402               0
403          $20000
404         $900000
405               0
406        ₹1200000
407               0
408         5000000
409               0
410       ₹40000000
411      ₹510000000
412     ₹2200000000
413         5000000
414         1000000
415        22000000
416               0
417           70000
418               0
419        10000000
420    ₹15392000000
421    ₹20000000000
422     ₹4000000000
423         1000000
424       ₹25000000
425       185000000
426      ₹140000000
427               0
428               0
429               0
430               0
431               0
432               0
433         1000000
434        65000000
435         2000000
436               0
437      ₹165000000
438      ₹650000000
439               0
440          700000
441        30000000
442               0
443      ₹210000000
444       210000000
445         4000000
446               0
447       ₹20000000
448     ₹2029600000
449        75000000
450      ₹600000000
451        30000000
452       ₹80000000
453         1760000
454         2700000
455          400000
456      ₹280000000
457      ₹800000000
458          750000
459         2500000
460               0
461               0
462        80000000
463        25000000
464      ₹730000000
465               0
466         3000000
467               0
468         3500000
469      ₹400000000
470      ₹600000000
471         1100000
472         3700000
473         1300000
474      ₹140000000
475         5600000
476      ₹260000000
477               0
478      ₹150000000
479               0
480               0
481       ₹12000000
482        99230000
483         1000000
484        70000000
485         1000000
486         2000000
487               0
488      ₹400000000
489           40000
490          550000
491               0
492        50000000
493        50000000
494       365000000
495               0
496        ₹8750000
497         1500000
498        30000000
499         5000000
500       ₹78000000
501         4000000
502               0
503        28000000
504        15000000
505               0
506         5000000
507       ₹12500000
508               0
509      ₹264000000
510               0
511       100000000
512               0
513     ₹1130000000
514      ₹810000000
515               0
516     ₹1400000000
517       ₹10000000
518               0
519         6000000
520        14900000
521       225000000
522               0
523            7500
524       ₹35000000
525        35000000
Name: Amount, dtype: object

*** DATA CURRENCY CONVERSION ***

In [1527]:
# Create an instance of the CurrencyRates class
c = CurrencyRates()

# Function to convert INR to USD
def convert_to_usd(amount):
    if isinstance(amount, str) and amount.startswith('₹'):
        amount = amount[1:]  # Remove the currency symbol
        amount = amount.replace(',', '')  # Remove commas if present
        amount = float(amount)  # Convert to float
        return c.convert('INR', 'USD', amount)
    else:
        return amount

# Apply the conversion function to the 'Amount' column
data2018['Amount'] = data2018['Amount'].apply(convert_to_usd)
data2018['Amount'] = data2018['Amount'].apply(lambda x: float(str(x).replace("$","")))
# Define a lambda function to format the amount
format_amount = lambda amount: "{:,.2f}".format(amount)

# Apply the formatting lambda function to the 'Amount' column
data2018['Amount'] = data2018['Amount'].map(format_amount)

In [1528]:
data2018['Amount'].head()

0      250,000.00
1      485,093.94
2      788,277.65
3    2,000,000.00
4            0.00
Name: Amount, dtype: object

In [1529]:
#  convert column to float
data2018['Amount'] = data2018['Amount'].str.replace(',', '').astype(float)
data2018['Amount'].head()

0     250000.00
1     485093.94
2     788277.65
3    2000000.00
4          0.00
Name: Amount, dtype: float64

In [1530]:
data2018.columns

Index(['Company Name', 'Industry', 'Round/Series', 'Amount', 'Location',
       'About Company'],
      dtype='object')

In [1531]:

data2019.columns

Index(['Company/Brand', 'Founded', 'HeadQuarter', 'Sector', 'What it does',
       'Founders', 'Investor', 'Amount($)', 'Stage'],
      dtype='object')

*** COLUMNS RENAMING ***

In [1532]:
data2018.rename(columns = {'Company Name':'Company/Brand',
                        'Industry':'Sector',
                        'Amount':'Amount',
                        'About Company':'What it does',
                        'Round/Series' : 'Stage'},
             inplace = True)

In [1533]:
data2018.columns

Index(['Company/Brand', 'Sector', 'Stage', 'Amount', 'Location',
       'What it does'],
      dtype='object')

### DATA 2019 CLEANING

In [1534]:
data2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  89 non-null     object
 1   Founded        60 non-null     float64
 2   HeadQuarter    70 non-null     object
 3   Sector         84 non-null     object
 4   What it does   89 non-null     object
 5   Founders       86 non-null     object
 6   Investor       89 non-null     object
 7   Amount($)      89 non-null     object
 8   Stage          43 non-null     object
dtypes: float64(1), object(8)
memory usage: 6.4+ KB

In [1535]:
data2019.isnull().sum() #calculate the number of missing values (null or NaN values) in each column of a DataFrame.

Company/Brand     0
Founded          29
HeadQuarter      19
Sector            5
What it does      0
Founders          3
Investor          0
Amount($)         0
Stage            46
dtype: int64

In [1536]:
data2019.shape

(89, 9)

In [1537]:
missing_value = ['','N/a','NAN','na']
data2019 = pd.read_csv('startup_funding2019.csv', na_values=missing_value)
data2019.isnull().sum()

Company/Brand     0
Founded          29
HeadQuarter      19
Sector            5
What it does      0
Founders          3
Investor          0
Amount($)         0
Stage            46
dtype: int64

In [1538]:
data2019.duplicated().sum() #checking if there are duplicates

0

In [1539]:
data2019.columns

Index(['Company/Brand', 'Founded', 'HeadQuarter', 'Sector', 'What it does',
       'Founders', 'Investor', 'Amount($)', 'Stage'],
      dtype='object')

In [1540]:
data2018.columns

Index(['Company/Brand', 'Sector', 'Stage', 'Amount', 'Location',
       'What it does'],
      dtype='object')

In [1541]:
# Droping unwanted columns

data2019.drop(columns=['Founded','Founders'], inplace=True)

In [1542]:
#Renaming columnsb
data2019.rename(columns = {
                        'Amount($)':'Amount',
                        'HeadQuarter':'Location',
                        },
             inplace = True)

In [1543]:
data2018.columns

Index(['Company/Brand', 'Sector', 'Stage', 'Amount', 'Location',
       'What it does'],
      dtype='object')

In [1544]:
data2019.columns

Index(['Company/Brand', 'Location', 'Sector', 'What it does', 'Investor',
       'Amount', 'Stage'],
      dtype='object')

In [ ]:
data2019.isnull().sum()

Company/Brand     0
Location         19
Sector            5
What it does      0
Amount            0
Stage            46
dtype: int64

In [ ]:
pd.set_option('display.max_rows', None)

In [ ]:
data2019.head()

,Company/Brand,Location,Sector,What it does,Amount,Stage
0,Bombay Shaving,NaN,Ecommerce,Provides a range of male grooming products,"$6,300,000",NaN
1,Ruangguru,Mumbai,Edtech,A learning platform that provides topic-based ...,"$150,000,000",Series C
2,Eduisfun,Mumbai,Edtech,It aims to make learning fun via games.,"$28,000,000",Fresh funding
3,HomeLane,Chennai,Interior design,Provides interior designing solutions,"$30,000,000",Series D
4,Nu Genes,Telangana,AgriTech,"It is a seed company engaged in production, pr...","$6,000,000",NaN

*** DATA TYPE ISSUES ***

In [ ]:
data2019['Amount'].unique()

array(['$6,300,000', '$150,000,000', '$28,000,000', '$30,000,000',
       '$6,000,000', 'Undisclosed', '$1,000,000', '$20,000,000',
       '$275,000,000', '$22,000,000', '$5,000,000', '$140,500',
       '$540,000,000', '$15,000,000', '$182,700', '$12,000,000',
       '$11,000,000', '$15,500,000', '$1,500,000', '$5,500,000',
       '$2,500,000', '$140,000', '$230,000,000', '$49,400,000',
       '$32,000,000', '$26,000,000', '$150,000', '$400,000', '$2,000,000',
       '$100,000,000', '$8,000,000', '$100,000', '$50,000,000',
       '$120,000,000', '$4,000,000', '$6,800,000', '$36,000,000',
       '$5,700,000', '$25,000,000', '$600,000', '$70,000,000',
       '$60,000,000', '$220,000', '$2,800,000', '$2,100,000',
       '$7,000,000', '$311,000,000', '$4,800,000', '$693,000,000',
       '$33,000,000'], dtype=object)

In [ ]:
# Cleaning Amount($)

data2019['Amount']=data2019['Amount'].replace('Undisclosed',np.nan) #replacing Undisclosed values.
data2019['Amount']=data2019['Amount'].str.replace('[$,]','').astype(float)
data2019['Amount'].unique()

array([6.300e+06, 1.500e+08, 2.800e+07, 3.000e+07, 6.000e+06,       nan,
       1.000e+06, 2.000e+07, 2.750e+08, 2.200e+07, 5.000e+06, 1.405e+05,
       5.400e+08, 1.500e+07, 1.827e+05, 1.200e+07, 1.100e+07, 1.550e+07,
       1.500e+06, 5.500e+06, 2.500e+06, 1.400e+05, 2.300e+08, 4.940e+07,
       3.200e+07, 2.600e+07, 1.500e+05, 4.000e+05, 2.000e+06, 1.000e+08,
       8.000e+06, 1.000e+05, 5.000e+07, 1.200e+08, 4.000e+06, 6.800e+06,
       3.600e+07, 5.700e+06, 2.500e+07, 6.000e+05, 7.000e+07, 6.000e+07,
       2.200e+05, 2.800e+06, 2.100e+06, 7.000e+06, 3.110e+08, 4.800e+06,
       6.930e+08, 3.300e+07])

In [ ]:
data2019['Amount'].head()

0      6300000.0
1    150000000.0
2     28000000.0
3     30000000.0
4      6000000.0
Name: Amount, dtype: float64