Project Description


This project we hope to analyze data from Indian start up from 2018 to 2021. Our Goal is to gain understanding into Indian startup ecosystem and suggest the optimal course of action.

Business Understanding


Hypothesis
Null hypothesis: 
There is no relationship between the number of founders in a company compared to the amount of funding they receive

Alternate hypothesis:
 Companies with more than one founder receive more funding than those without

Question
    1. How much amount is needed for initial start-up?
    2. Which sector attracted the largest funding
    3. Which sector received the lowest amount of funding
    4. Who are the top 10 investors
    5. At what stage do startups get more funding from investors?
    6. What strategies does the startup have in place to connect with local artisans to build a global customer base?

In [1]:
%pip install matplotlib 
%pip install seaborn
%pip3 install wheel
%pip install pyodbc  
%pip install python-dotenv 
%pip install pandas

Requirement already satisfied: matplotlib in ./venv/lib/python3.6/site-packages (3.3.4)
Requirement already satisfied: cycler>=0.10 in ./venv/lib/python3.6/site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in ./venv/lib/python3.6/site-packages (from matplotlib) (3.1.0)
Requirement already satisfied: numpy>=1.15 in ./venv/lib/python3.6/site-packages (from matplotlib) (1.19.5)
Requirement already satisfied: python-dateutil>=2.1 in ./venv/lib/python3.6/site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in ./venv/lib/python3.6/site-packages (from matplotlib) (1.3.1)
Requirement already satisfied: pillow>=6.2.0 in ./venv/lib/python3.6/site-packages (from matplotlib) (8.4.0)
Requirement already satisfied: six>=1.5 in ./venv/lib/python3.6/site-packages (from python-dateutil>=2.1->matplotlib) (1.16.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: seaborn in ./venv/lib/python3.6/site-packages (0.11.2)
Requirement already satisfied: pandas>=0.23 in ./venv/lib/python3.6/site-packages (from seaborn) (1.1.5)
Requirement already satisfied: scipy>=1.0 in ./venv/lib/python3.6/site-packages (from seaborn) (1.5.4)
Requirement already satisfied: matplotlib>=2.2 in ./venv/lib/python3.6/site-packages (from seaborn) (3.3.4)
Requirement already satisfied: numpy>=1.15 in ./venv/lib/python3.6/site-packages (from seaborn) (1.19.5)
Requirement already satisfied: python-dateutil>=2.1 in ./venv/lib/python3.6/site-packages (from matplotlib>=2.2->seaborn) (2.8.2)
Requirement already satisfied: pillow>=6.2.0 in ./venv/lib/python3.6/site-packages (from matplotlib>=2.2->seaborn) (8.4.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in ./venv/lib/python3.6/site-packages (from matplotlib>=2.2->seaborn) (3.1.0)
Requirement already satisfied: kiwisolver>=1.0.1 in ./venv/lib/python3.6/site-packages (from matplotlib>=2.2->seaborn) (1.3.1)
Requirement already satisfied: cycler>=0.10 in ./venv/lib/python3.6/site-packages (from matplotlib>=2.2->seaborn) (0.11.0)
Requirement already satisfied: pytz>=2017.2 in ./venv/lib/python3.6/site-packages (from pandas>=0.23->seaborn) (2023.3)
Requirement already satisfied: six>=1.5 in ./venv/lib/python3.6/site-packages (from python-dateutil>=2.1->matplotlib>=2.2->seaborn) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

UsageError: Line magic function `%pip3` not found.

In [2]:
import os
import pyodbc #just installed with pip
from dotenv import dotenv_values #import the dotenv_values function from the dotenv package
import pandas as pd
import warnings 
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import re
# import wget
from forex_python.converter import CurrencyRates


warnings.filterwarnings('ignore')

In [3]:
# Load environment variables from .env file into a dictionary
environment_variables = dotenv_values('.env')


# Get the values for the credentials you set in the '.env' file
database = environment_variables.get("DATABASE")
server = environment_variables.get("SERVER")
username = environment_variables.get("USERNAME")
password = environment_variables.get("PASSWORD")
# driver = environment_variables.get("DRIVER")


connection_string = "DRIVER={ODBC Driver 17 for SQL Server};SERVER={server};DATABASE={database};UID={username};PWD={password}"

In [5]:
# Use the connect method of the pyodbc library and pass in the connection string.
# This will connect to the server and might take a few seconds to be complete. 
# Check your internet connection if it takes more time than necessary

connection = pyodbc.connect(connection_string)
#connection = pyodbc.connect(connection_string)

In [6]:
query2020 = "Select * from dbo.LP1_startup_funding2020"
query2021 = "Select * from dbo.LP1_startup_funding2021"
data2020 = pd.read_sql(query2020, connection)
data2021 = pd.read_sql(query2021, connection)

In [7]:
print(os.listdir())

['venv', 'lp1.ipynb', 'README.md', 'startup_funding2018.csv', '.env', '.gitignore', 'LICENSE', '.git', 'startup_funding2019.csv']

In [8]:
data2020.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,column10
0,Aqgromalin,2019.0,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,None,None
1,Krayonnz,2019.0,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed,None
2,PadCare Labs,2018.0,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,NaN,Pre-seed,None
3,NCOME,2020.0,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",400000.0,None,None
4,Gramophone,2016.0,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge",340000.0,None,None

In [9]:
data2021.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
0,Unbox Robotics,2019.0,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First","$1,200,000",Pre-series A
1,upGrad,2015.0,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management","$120,000,000",None
2,Lead School,2012.0,Mumbai,EdTech,LEAD School offers technology based school tra...,"Smita Deorah, Sumeet Mehta","GSV Ventures, Westbridge Capital","$30,000,000",Series D
3,Bizongo,2015.0,Mumbai,B2B E-commerce,Bizongo is a business-to-business online marke...,"Aniket Deb, Ankit Tomar, Sachin Agrawal","CDC Group, IDG Capital","$51,000,000",Series C
4,FypMoney,2021.0,Gurugram,FinTech,"FypMoney is Digital NEO Bank for Teenagers, em...",Kapil Banwari,"Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal","$2,000,000",Seed

In [10]:
data2019 = pd.read_csv('startup_funding2019.csv')
data2019.head()

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
0,Bombay Shaving,NaN,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,"$6,300,000",NaN
1,Ruangguru,2014.0,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,"$150,000,000",Series C
2,Eduisfun,NaN,Mumbai,Edtech,It aims to make learning fun via games.,Jatin Solanki,"Deepak Parekh, Amitabh Bachchan, Piyush Pandey","$28,000,000",Fresh funding
3,HomeLane,2014.0,Chennai,Interior design,Provides interior designing solutions,"Srikanth Iyer, Rama Harinath","Evolvence India Fund (EIF), Pidilite Group, FJ...","$30,000,000",Series D
4,Nu Genes,2004.0,Telangana,AgriTech,"It is a seed company engaged in production, pr...",Narayana Reddy Punyala,Innovation in Food and Agriculture (IFA),"$6,000,000",NaN

In [11]:
data2018 = pd.read_csv('startup_funding2018.csv')
data2018.head()

,Company Name,Industry,Round/Series,Amount,Location,About Company,Unnamed: 6
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f...",NaN
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...,NaN
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"₹65,000,000","Gurgaon, Haryana, India",Leading Online Loans Marketplace in India,NaN
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...,NaN
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...,NaN

## DATA 2018 CLEANING

In [12]:
data2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 526 entries, 0 to 525
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company Name   526 non-null    object
 1   Industry       526 non-null    object
 2   Round/Series   526 non-null    object
 3   Amount         526 non-null    object
 4   Location       526 non-null    object
 5   About Company  526 non-null    object
 6   Unnamed: 6     1 non-null      object
dtypes: object(7)
memory usage: 28.9+ KB

In [13]:
data2018.isnull().sum() #calculate the number of missing values (null or NaN values) in each column of a DataFrame.

Company Name       0
Industry           0
Round/Series       0
Amount             0
Location           0
About Company      0
Unnamed: 6       525
dtype: int64

In [14]:
missing_value = ['','N/a','NAN','na']
data2018 = pd.read_csv('startup_funding2018.csv', na_values=missing_value)
data2018.isnull().sum()

Company Name       0
Industry           0
Round/Series       0
Amount             0
Location           0
About Company      0
Unnamed: 6       525
dtype: int64

In [15]:
data2018.shape

(526, 7)

In [16]:

data2018.columns

Index(['Company Name', 'Industry', 'Round/Series', 'Amount', 'Location',
       'About Company', 'Unnamed: 6'],
      dtype='object')

In [17]:
data2018['Unnamed: 6']

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
      ...
521    NaN
522    NaN
523    NaN
524    NaN
525    NaN
Name: Unnamed: 6, Length: 526, dtype: object

In [18]:
data2018 = data2018.drop('Unnamed: 6', axis=1)
data2018.columns

Index(['Company Name', 'Industry', 'Round/Series', 'Amount', 'Location',
       'About Company'],
      dtype='object')

In [19]:
data2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 526 entries, 0 to 525
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company Name   526 non-null    object
 1   Industry       526 non-null    object
 2   Round/Series   526 non-null    object
 3   Amount         526 non-null    object
 4   Location       526 non-null    object
 5   About Company  526 non-null    object
dtypes: object(6)
memory usage: 24.8+ KB

In [20]:
data2018.duplicated().sum() #checking if there are duplicates

1

In [21]:
data2018.loc[data2018.duplicated(keep=False ), :]#displaying the duplicated row

,Company Name,Industry,Round/Series,Amount,Location,About Company
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."
348,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."

In [22]:
data2018 = data2018.drop_duplicates() #Droping duplicate rows
data2018.shape

(525, 6)

*** DATA TYPE ISSUES ***

In [23]:
data2018.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 525 entries, 0 to 525
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company Name   525 non-null    object
 1   Industry       525 non-null    object
 2   Round/Series   525 non-null    object
 3   Amount         525 non-null    object
 4   Location       525 non-null    object
 5   About Company  525 non-null    object
dtypes: object(6)
memory usage: 28.7+ KB

In [24]:
data2018['Amount'].head()

0         250000
1    ₹40,000,000
2    ₹65,000,000
3        2000000
4              —
Name: Amount, dtype: object

In [25]:
# Cleaning the Amounts column
data2018['Amount'] = data2018['Amount'].apply(str)
data2018['Amount'].replace(",", "", inplace = True, regex=True)
data2018['Amount'].replace("—", 0, inplace = True, regex=True)
data2018['Amount'].replace("$", "", inplace = True, regex=True)

In [26]:
data2018['Amount']

0         250000
1      ₹40000000
2      ₹65000000
3        2000000
4              0
         ...
521    225000000
522            0
523         7500
524    ₹35000000
525     35000000
Name: Amount, Length: 525, dtype: object

*** DATA CURRENCY CONVERSION ***

In [27]:
# Create an instance of the CurrencyRates class
c = CurrencyRates()

# Function to convert INR to USD
def convert_to_usd(amount):
    if isinstance(amount, str) and amount.startswith('₹'):
        amount = amount[1:]  # Remove the currency symbol
        amount = amount.replace(',', '')  # Remove commas if present
        amount = float(amount)  # Convert to float
        return c.convert('INR', 'USD', amount)
    else:
        return amount

# Apply the conversion function to the 'Amount' column
data2018['Amount'] = data2018['Amount'].apply(convert_to_usd)
data2018['Amount'] = data2018['Amount'].apply(lambda x: float(str(x).replace("$","")))
# Define a lambda function to format the amount
format_amount = lambda amount: "{:,.2f}".format(amount)

# Apply the formatting lambda function to the 'Amount' column
data2018['Amount'] = data2018['Amount'].map(format_amount)

In [28]:
data2018['Amount'].head()

0      250,000.00
1      485,093.94
2      788,277.65
3    2,000,000.00
4            0.00
Name: Amount, dtype: object

In [29]:
#  convert column to float
data2018['Amount'] = data2018['Amount'].str.replace(',', '').astype(float)
data2018['Amount'].head()

0     250000.00
1     485093.94
2     788277.65
3    2000000.00
4          0.00
Name: Amount, dtype: float64

In [30]:
data2018.columns

Index(['Company Name', 'Industry', 'Round/Series', 'Amount', 'Location',
       'About Company'],
      dtype='object')

In [31]:

data2019.columns

Index(['Company/Brand', 'Founded', 'HeadQuarter', 'Sector', 'What it does',
       'Founders', 'Investor', 'Amount($)', 'Stage'],
      dtype='object')

*** COLUMNS RENAMING ***

In [32]:
data2018.rename(columns = {'Company Name':'Company/Brand',
                        'Industry':'Sector',
                        'Amount':'Amount',
                        'About Company':'What it does',
                        'Round/Series' : 'Stage'},
             inplace = True)

In [33]:
data2018.columns

Index(['Company/Brand', 'Sector', 'Stage', 'Amount', 'Location',
       'What it does'],
      dtype='object')

### DATA 2019 CLEANING

In [34]:
data2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  89 non-null     object
 1   Founded        60 non-null     float64
 2   HeadQuarter    70 non-null     object
 3   Sector         84 non-null     object
 4   What it does   89 non-null     object
 5   Founders       86 non-null     object
 6   Investor       89 non-null     object
 7   Amount($)      89 non-null     object
 8   Stage          43 non-null     object
dtypes: float64(1), object(8)
memory usage: 6.4+ KB

In [35]:
data2019.isnull().sum() #calculate the number of missing values (null or NaN values) in each column of a DataFrame.

Company/Brand     0
Founded          29
HeadQuarter      19
Sector            5
What it does      0
Founders          3
Investor          0
Amount($)         0
Stage            46
dtype: int64

In [36]:
data2019.shape

(89, 9)

In [37]:
missing_value = ['','N/a','NAN','na']
data2019 = pd.read_csv('startup_funding2019.csv', na_values=missing_value)
data2019.isnull().sum()

Company/Brand     0
Founded          29
HeadQuarter      19
Sector            5
What it does      0
Founders          3
Investor          0
Amount($)         0
Stage            46
dtype: int64

In [38]:
data2019.duplicated().sum() #checking if there are duplicates

0

In [39]:
data2019.columns

Index(['Company/Brand', 'Founded', 'HeadQuarter', 'Sector', 'What it does',
       'Founders', 'Investor', 'Amount($)', 'Stage'],
      dtype='object')

In [40]:
data2018.columns

Index(['Company/Brand', 'Sector', 'Stage', 'Amount', 'Location',
       'What it does'],
      dtype='object')

In [41]:
# Droping unwanted columns

data2019.drop(columns=['Founded','Founders'], inplace=True)

In [42]:
#Renaming columnsb
data2019.rename(columns = {
                        'Amount($)':'Amount',
                        'HeadQuarter':'Location',
                        },
             inplace = True)

In [43]:
data2018.columns

Index(['Company/Brand', 'Sector', 'Stage', 'Amount', 'Location',
       'What it does'],
      dtype='object')

In [44]:
data2019.columns

Index(['Company/Brand', 'Location', 'Sector', 'What it does', 'Investor',
       'Amount', 'Stage'],
      dtype='object')

In [45]:
data2019.isnull().sum()

Company/Brand     0
Location         19
Sector            5
What it does      0
Investor          0
Amount            0
Stage            46
dtype: int64

In [46]:
pd.set_option('display.max_rows', None)

In [47]:
data2019.head()

,Company/Brand,Location,Sector,What it does,Investor,Amount,Stage
0,Bombay Shaving,NaN,Ecommerce,Provides a range of male grooming products,Sixth Sense Ventures,"$6,300,000",NaN
1,Ruangguru,Mumbai,Edtech,A learning platform that provides topic-based ...,General Atlantic,"$150,000,000",Series C
2,Eduisfun,Mumbai,Edtech,It aims to make learning fun via games.,"Deepak Parekh, Amitabh Bachchan, Piyush Pandey","$28,000,000",Fresh funding
3,HomeLane,Chennai,Interior design,Provides interior designing solutions,"Evolvence India Fund (EIF), Pidilite Group, FJ...","$30,000,000",Series D
4,Nu Genes,Telangana,AgriTech,"It is a seed company engaged in production, pr...",Innovation in Food and Agriculture (IFA),"$6,000,000",NaN

*** DATA TYPE ISSUES ***

In [48]:
data2019['Amount'].unique()

array(['$6,300,000', '$150,000,000', '$28,000,000', '$30,000,000',
       '$6,000,000', 'Undisclosed', '$1,000,000', '$20,000,000',
       '$275,000,000', '$22,000,000', '$5,000,000', '$140,500',
       '$540,000,000', '$15,000,000', '$182,700', '$12,000,000',
       '$11,000,000', '$15,500,000', '$1,500,000', '$5,500,000',
       '$2,500,000', '$140,000', '$230,000,000', '$49,400,000',
       '$32,000,000', '$26,000,000', '$150,000', '$400,000', '$2,000,000',
       '$100,000,000', '$8,000,000', '$100,000', '$50,000,000',
       '$120,000,000', '$4,000,000', '$6,800,000', '$36,000,000',
       '$5,700,000', '$25,000,000', '$600,000', '$70,000,000',
       '$60,000,000', '$220,000', '$2,800,000', '$2,100,000',
       '$7,000,000', '$311,000,000', '$4,800,000', '$693,000,000',
       '$33,000,000'], dtype=object)

In [49]:
# Cleaning Amount($)

data2019['Amount']=data2019['Amount'].replace('Undisclosed',np.nan) #replacing Undisclosed values.
data2019['Amount']=data2019['Amount'].str.replace('[$,]','').astype(float)
data2019['Amount'].unique()

array([6.300e+06, 1.500e+08, 2.800e+07, 3.000e+07, 6.000e+06,       nan,
       1.000e+06, 2.000e+07, 2.750e+08, 2.200e+07, 5.000e+06, 1.405e+05,
       5.400e+08, 1.500e+07, 1.827e+05, 1.200e+07, 1.100e+07, 1.550e+07,
       1.500e+06, 5.500e+06, 2.500e+06, 1.400e+05, 2.300e+08, 4.940e+07,
       3.200e+07, 2.600e+07, 1.500e+05, 4.000e+05, 2.000e+06, 1.000e+08,
       8.000e+06, 1.000e+05, 5.000e+07, 1.200e+08, 4.000e+06, 6.800e+06,
       3.600e+07, 5.700e+06, 2.500e+07, 6.000e+05, 7.000e+07, 6.000e+07,
       2.200e+05, 2.800e+06, 2.100e+06, 7.000e+06, 3.110e+08, 4.800e+06,
       6.930e+08, 3.300e+07])

In [50]:
data2019['Amount'].head()

0      6300000.0
1    150000000.0
2     28000000.0
3     30000000.0
4      6000000.0
Name: Amount, dtype: float64